//- Cover.
//- +svg--one( 'goldenrod' )
//- +svg--two( '#BADA55' )
//- +svg--three( 'mistyrose' )
.ywp_title
	.ywp_title_inner
		| 👋🏼 Hello, I am
		+s
		span.aa_five
			+svg--five( 'rgba(230, 57, 70, 0.5)' ).svg_five
			a(href='https://AhmadAwais.com/' target='_blank')
				| Ahmad Awais
		| !
		br
		| 🎯 => A regular { WordPress }
		+s
		span.aa_one
			+svg--one( 'rgba(69, 123, 157, 0.5)' ).svg_one
			| Core
		+s
		| Contributor, who is
		+s
		span.aa_two
			+svg--two( 'rgba(237, 172, 172, 0.5)' ).svg_two
			| passionate about
		| ( OpenSource ).
		.aa_spacer
		+s
		| ⏱ I am spending a
		+s
		span.aa_three
			+svg--three( 'rgba(180, 163, 182, 0.5)' ).svg_three
			| #YearWithWordPress++ 💯
		+s
		| to help people learn WordPress
		+s
		span.aa_four
			+svg--four( 'rgba(207, 208, 192, 0.5)' ).svg_four
			| #REST_API.
		.aa_spacer
		+s
		| 🙌 You can() {
		+s
		span.aa_five
			+svg--five( 'rgba(200, 214, 217, 0.5)' ).svg_five
			a(href='https://wpcouple.com/sponsor/' target='_blank')
				| CONTRIBUTE!
		+s
		| }
		.aa_spacer
		| 👉 Read what I've been upto in
		span.aa_four
			+svg--four( 'rgba(237, 172, 172, 0.5)' ).svg_four
			a(href='https://ahmadawais.com/my-commitment-to-wordpress-and-epic-moments-of-2015/' target='_blank')
				| 2015!
		+s
		| &
		+s
		span.aa_four
			+svg--four( 'rgba(69, 123, 157, 0.5)' ).svg_four
			a(href='https://ahmadawais.com/2016-year-review-wordpress-business-big-news/' target='_blank')
				| 2016!
