doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width")

		//- CSS/JS
		link(rel="stylesheet", href="style.css")
		link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400|Playfair+Display&text=&" rel="stylesheet")

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js", defer)
		script(src="assets/js/vendors.js", defer)
		script(src="assets/js/custom.js", defer)
		title
			| Year With WordPress — Ahmad Awais

		link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
		link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
		link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
		link(rel="manifest" href="/manifest.json")
		link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5")
		meta(name="theme-color" content="#ffffff")

		meta(http-equiv="x-dns-prefetch-control" content="on")
		meta(name="description" content=" Hello, I am Ahmad Awais 🎯 => A regular { WordPress } Core Contributor, who is passionate about (OpenSource). Contribute to open source!" )
		link(rel="canonical" href="https://yearwithwp.com/" )
		link(rel="publisher" href="https://plus.google.com/+AhmadAwais")
		meta(property="og:locale" content="en_US" )
		meta(property="og:type" content="website" )
		meta(property="og:title" content="Ahmad Awais" )
		meta(property="og:description" content="Ahmad Awais is a Full Stack WordPress Developer, WP Core Contributor, Front-end Fanatic and a Designer by night. He loves to create optimized but advanced workflows to produce cool pieces of Open Source software." )
		meta(property="og:url" content="https://yearwithwp.com/" )
		meta(property="og:site_name" content="Ahmad Awais" )
		meta(property="fb:admins" content="1078294064" )
		meta(property="og:image" content="https://ahmadawais.com/wp-content/uploads/2014/06/Ahmad_Awais_TED_Speaker_Speech_Blogging_Alternate_Career_Path_DP_purpule.png" )
		meta(name="twitter:card" content="summary_large_image" )
		meta(name="twitter:description" content=" Hello, I am Ahmad Awais 🎯 => A regular { WordPress } Core Contributor, who is passionate about (OpenSource). Contribute to open source!")
		meta(name="twitter:title" content="Ahmad Awais - Full Stack WordPress Developer &amp; Designer" )
		meta(name="twitter:site" content="@MrAhmadAwais" )
		meta(name="twitter:image" content="https://ahmadawais.com/wp-content/uploads/2014/06/Ahmad_Awais_TED_Speaker_Speech_Blogging_Alternate_Career_Path_DP_purpule.png" )

		<script type='application/ld+json'>{"@context":"http:\/\/schema.org","@type":"WebSite","@id":"#website","url":"https:\/\/ahmadawais.com\/","name":"Ahmad Awais","potentialAction":{"@type":"SearchAction","target":"https:\/\/ahmadawais.com\/?s={search_term_string}","query-input":"required name=search_term_string"}}</script>
		<script type='application/ld+json'>{"@context":"http:\/\/schema.org","@type":"Person","url":"https:\/\/ahmadawais.com\/","sameAs":["https:\/\/www.facebook.com\/mrahmadawais","http:\/\/instagram.com\/mrahmadawais\/","https:\/\/pk.linkedin.com\/in\/mrahmadawais","https:\/\/plus.google.com\/+AhmadAwais","https:\/\/www.pinterest.com\/mrahmadawais\/","https:\/\/twitter.com\/MrAhmadAwais"],"@id":"#person","name":"Ahmad Awais"}</script>

	body
		.aa_wrap
			include template/mixins
			include template/cover
